{% load static %}
<header class="site-header">
    <div class="site-header__left"></div>
    <div class="site-header__center">
        <div class="site-header__logo">
            <a href="{% url 'quiz:home' %}">Med<b>Quiz</b></a>
        </div>
    </div>
    <div class="site-header__right">
        <div class="site-header__actions">
            {% if user.is_authenticated %}
                <a href="{% url 'quiz:account' %}" class="user-pill-button">
                    <div class="user-pill-button__name-container">
                        <span class="user-pill-button__firstname">{{ user.first_name|default:user.username }}</span>
                        <span class="user-pill-button__lastname">{{ user.last_name }}</span>
                    </div>
                    <div class="user-avatar" style="background-color: {{ user_avatar_bg_color }};">
                        {{ user_initials }}
                    </div>
                </a>
            {% else %}
                <a href="{% url 'login' %}" class="site-header__action-link">
                    <span class="material-symbols-outlined">login</span>
                </a>
                <a href="{% url 'quiz:register' %}" class="site-header__action-link">
                    <span class="material-symbols-outlined">person_add</span>
                </a>
            {% endif %}
        </div>
    </div>
</header>