/* assets/css/base/base.css */
@import 'variables.css';
@import 'reset.css';
@import 'typography.css';
@import 'utilities.css';

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: var(--font-family-sans);
    color: var(--color-gray-900);
    background-color: var(--color-gray-100);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Adicionado para controle de overflow específico */
    overflow-y: auto; /* Rolagem padrão do corpo */
}

/* NOVA CLASSE: Aplicada ao body quando a rolagem principal deve ser desabilitada */
body.no-scroll {
    overflow-y: hidden;
}


*:focus {
    outline: none;
    box-shadow: none;
}

*:focus-visible {
  outline: var(--focus-outline-width) solid var(--focus-outline-color);
  outline-offset: var(--focus-outline-offset);
}