footer {
    padding: 30px ;
    font-family: "Roboto";
    font-weight: 300;
    height: 300px;
    background-color: var(--deep-blue);
    color: white;
}

.footer-content {
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer-row-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.345);
}

