main {
   
}

#aboutMe {
    background: linear-gradient(to right, rgb(249, 247, 239, 1), rgb(249, 247, 239, 0.5)), url("imagens/medico_3.jpg") center right no-repeat;
    background-size: cover;
}

.section-content{ 
    display: flex;
    padding: 100px 20px;
    margin: auto;
    max-width: 1200px;
}

#aboutMe > .section-content{
    height: 590px;
}

.about_me-text {
    height: 580px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.button-consulta-wrapper-main {
    margin: 30px 0px;
}

.button-consulta-link-about_me {
    font-family: "Lora", serif;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 10px 20px;
    background-color: var(--button-color);
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.doctor-name {
    font-family: "Lora", serif;
    font-size: 2rem;
    font-weight: 800;
    color: var();
}

.doctor-specialty {
    font-family: "Lora", serif;
    font-size: 1.6rem;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    color: var(--secondary-color);
}

#services {
    background-color: var(--background);
}

#services > .section-content {
    min-height: 650px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.services-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    gap: 20px;
}

#services > .section-content > .services-text p {
    font: normal 400 1.2rem "lora";
    text-align: justify;
}

.section-title {
    font: normal 400 2.3rem "Lora";
    color: var(--primary-color);
}

.circle-card-container {
    gap: 20px;
    align-self: center;
    display: flex;
    flex-wrap: wrap
}

.fa-arrow-right {
    color: white;
}

#description {
    background-color: var(--background);
}

#description > .section-content {
    border-top: 2px solid rgba(93, 58, 58, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:20px;
}

.description-img {
    border-radius: 30px;
    overflow: hidden;
    height: auto;
    width: 500px;
}

.description-img > img{
    height: auto;
    height: 100%;
    width: 120%;
}

.description-text {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap:20px;
    max-width: 400px;
}

#contact {
    display: none;
    background-color: var(--background);
}

.doctor-name-description {
    color: var(--primary-color);
    max-width: 300px;
    font: normal 400 2.3rem "lora";
}

.bio {
    padding: 20px 0;
    font: normal 400 1.2rem "Lora";
    text-align: justify;
}

