main {
   
}

#aboutMe {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.302), rgb(249, 247, 239, 0.2)), url("imagens/medica_3_horizontal.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section-content{ 
    display: flex;
    padding: 100px 20px;
    margin: auto;
    max-width: 1200px;
}

#aboutMe > .section-content{
    height: 590px;
}

.about_me-text {
    height: 580px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.button-consulta-wrapper-main {
    margin: 30px 0px;
}

.button-consulta-link-about_me {
    font-family: "Lora", serif;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 10px 20px;
    background-color: var(--button-color);
    color: white;
    box-shadow:2px 2px 5px rgba(255, 255, 255, 0.2);
}

.doctor-name {
    margin-bottom: 5px;
    font-family: "Lora", serif;
    font-size: 2.2rem;
    font-weight: 800;
    color: white;
    text-shadow: 2px 2px 2px rgba(44, 62, 80, 0.9);

}

.doctor-specialty {
    font-family: "Lora", serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 3px rgba(44, 62, 80, 0.9);
}

#services {
    background-color: var(--background);
}

#services > .section-content {
    min-height: 650px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.services-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    gap: 20px;
}

#services > .section-content > .services-text p {
    font: normal 400 1.2rem "lora";
    text-align: justify;
}

.section-title {
    font: normal 400 2.3rem "Lora";
    color: var(--primary-color);
}

.circle-card-container {
    gap: 20px;
    align-self: center;
    display: flex;
    flex-wrap: wrap
}

#description {
    background-color: white;
}

#description > .section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:20px;
}

.description-img {
    border-radius: 100px 10px;
    overflow: hidden;
    max-width: 500px;
    height: auto;
}

.description-img > img{
    height: auto;
    height: 100%;
    width: 120%;
}

.description-text {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap:20px;
    max-width: 500px;
}

#contact {
    display: none;
    background-color: var(--background);
}

.doctor-name-description {
    color: var(--primary-color);
    max-width: 400px;
    font: normal 400 2.3rem "lora";
}

.bio {
    font: normal 400 1.2rem "Lora";
    text-align: justify;
}


@media only screen and (max-width:600px) {
    #aboutMe {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgb(249, 247, 239, 0.2)), url("imagens/medica_3_tamanho_pequeno.jpg") no-repeat;
        background-size: cover;
    }

    .doctor-name {
        margin-bottom: 5px;
        font-family: "Lora", serif;
        font-size: 1.7rem;
        font-weight: 800;
        color: white;
        text-shadow: 2px 2px 2px rgba(44, 62, 80, 0.9);
    
    }
    
    .doctor-specialty {
        font-family: "Lora", serif;
        font-size: 1.4rem;
        font-weight: 700;
        color: white;
        text-shadow: 2px 2px 3px rgba(75, 73, 73, 0.9);
    }

    .description-img {
        border-radius: 30px;
        overflow: hidden;
        max-width: 500px;
        height: auto;
    }
}
