{# quiz/templates/quiz/base.html #}
{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}MedQuiz{% endblock title %}</title>
</head>
<body>
    {% include "quiz/includes/_header.html" %}
    {% include "quiz/includes/_main_nav.html" %}

    <main>
        {% if messages %}
        {# ... seu bloco de mensagens ... #}
        {% endif %}
        {% block content %}{% endblock content %}
    </main>

    {% include "quiz/includes/_filter_panel.html" %}
    {% include "quiz/includes/_explanation_modal.html" %}
    {% include "quiz/includes/_bottom_nav.html" %}

    {% block site_footer_wrapper %} {# Este bloco permite sobrescrever/remover o footer #}
        {% include "quiz/includes/_site_footer.html" %}
    {% endblock site_footer_wrapper %}

    {% block scripts %}
        <script id="django-urls" type="application/json">
            {
                "start_quiz_session": "{% url 'quiz:start_quiz_session' %}",
                "register_answer": "{% url 'quiz:register_answer' %}",
                "end_quiz_session": "{% url 'quiz:end_quiz_session' %}",
                "api_get_all_quiz_data": "{% url 'quiz:api_get_all_quiz_data' %}"
            }
        </script>
        <script src="{% static 'js/script.js' %}" defer></script>
    {% endblock scripts %}
</body>
</html>